{{>layout/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>

    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>

    </tr>
    {{/article}}

    </tbody>
</table>
<a class="btn btn-primary" href="/article/{{article.id}}/edit">edit</a>
<a class="btn btn-primary" href="/article">go to list</a>
<a class="btn btn-danger" href="/article/{{article.id}}/delete">delete</a>


{{>layout/footer}}
